@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";

.btn {
  text-transform: uppercase;
}

.btn-outline {
  border-width: 3px;
  color: white;
  border-color: white;
  background-color: transparent;
  &:active, &:focus, &:hover {
    background-color: transparent;
    color: white;
    border-color: white;
  }
  &:active:hover,
  &:active:focus,
  &:active.focus,
  &.active:hover,
  &.active:focus,
  &.active.focus {
    color: white;
    background-color: transparent;
    border-color: white; // TODO(dce)
  }
}
