// @import "~bootstrap-sass/assets/stylesheets/bootstrap/alerts";

.alert {
  margin-bottom: $line-height-computed;
  border-radius: $alert-border-radius;
  background-color: white;
  display: flex;
  align-items: stretch;
}
.alert-icon {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  & span {
    max-width: 80%;
    overflow: hidden
  }
}
.alert-body {
  padding: $alert-padding-y $alert-padding-x;
  background-color: white;
  border: $alert-border-width solid $alert-border-color;
  border-left: none;
  flex: 1;
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable .alert-body, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible .alert-body {
  padding-right: ($alert-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}


// Alternate styles (Userland)
//
// Generate contextual modifier classes for colorizing the alert.

@each $contex, $color in $alert-colors {
  .alert-#{$contex} .alert-icon {
    @include alert-variant(
      $color,
      transparent,
      white
    );
  }
}
