@mixin avatar($size, $nudge) {
  height: $size;
  width: $size;
  font-size: $size*0.75;
  &.fa:before {
    top: $nudge;
  }
}

.avatar {
  background-color: $avatar-bg-color;
  border: none;
  border-radius: 50% !important;
  color: $avatar-color;
  display: inline-block;
  margin: $avatar-margin-y $avatar-margin-x;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
  &.fa:before {
    position: relative;
  }
}

.avatar-xs { @include avatar($avatar-size-xs, 2px) }
.avatar-sm { @include avatar($avatar-size-sm, 4px) }
.avatar-md { @include avatar($avatar-size-md, 5px) }
.avatar-lg { @include avatar($avatar-size-lg, 8px) }
