@mixin avatar($size, $nudge) {
  height: $size;
  width: $size;
  font-size: $size*0.75;
  &.fa:before {
    top: $nudge;
  }
}

.avatar {
  background-color: $avatar-bg-color;
  border: none;
  border-radius: 50% !important;
  color: $avatar-color;
  display: inline-block;
  margin: $avatar-margin-y $avatar-margin-x;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  &.fa:before {
    position: relative;
  }
}

.avatar-sm { @include avatar($avatar-size-sm, 2px) }

.avatar-md { @include avatar($avatar-size-md, 4px) }

.avatar-lg { @include avatar($avatar-size-lg, 5px) }
